---
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Experience from "../components/Experience.astro";
import Blog from "../components/Blog.astro";
import Contact from "../components/Contact.astro";
import { content, defaultLanguage } from "../data/content";
import "../styles/index.css";
import indexScriptUrl from "../scripts/index.ts?url";

const t = content[defaultLanguage];
---

<html lang={defaultLanguage}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{t.meta.title}</title>
		<script type="module" src={indexScriptUrl}></script>
	</head>
	<body>
		<main>
			<Hero />
			<About />
			<Skills />
			<Projects />
			<Experience />
			<Blog />
			<Contact />
		</main>
	</body>
</html>
