---
import { cn } from "../../lib/cn";
const { class: className } = Astro.props;
---
<div class={cn(
    "ui-panel-glass rounded-2xl shadow-sm",
    "backdrop-blur",
    className
)}>
    <slot />
</div>